@use './reset';
@use './variables' as *;
@use './cropper';
@forward './variables';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair Display+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: var(--font-primary);
}

.container {
    max-width: fluid(375, 1700);
    padding-left: fluid(16, 16);
    padding-right: fluid(16, 16);
    margin: auto;
    gap: fluid(20, 40);

    @include tablet {
        padding-left: fluid(20, 30);
        padding-right: fluid(20, 30);
    }
}

.auth-container {
    height: 100vh;
    display: flex;
    gap: fluid(30, 50);

    @include tablet {
        justify-content: center;
        align-items: center;
    }
}

.ProseMirror {
    border-radius: fluid(8, 8);
    height: 100%;
    width: fluid(92%, 98%);
    padding-block: fluid(15, 24);
    padding-left: fluid(21, 30);
    font-size: fluid(18, 24);
    line-height: fluid(20, 32);

    @include desktop {
        &:focus {
            outline: none;
        }
    }
}

ul {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    list-style: disc;
}

ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    list-style: decimal;
}