@use './reset';
@use './variables' as *;
@forward './variables';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair Display+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: var(--font-primary);
}

.container {
    max-width: 1700px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
    gap: 40px;
}

.auth-container {
    height: 100vh;
    display: flex;
    gap: 50px;
}

.ProseMirror {
    border: 2px solid var(--color-border);
    border-radius: 8px;
    height: 100%;

    @include mobile {
        padding-block: 15px;
        padding-left: 21px;
        font-size: 18px;
        line-height: 20px;
        width: 92%;
    }

    @include desktop {
        width: 98%;
        padding-block: 24px;
        padding-left: 30px;
        font-size: 24px;
        line-height: 32px;
    }

    &:focus {
        border-color: var(--color-primary);
    }
}

ul,
ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }
}