@use './reset';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair Display+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
}

.container {
    max-width: 1700px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
    gap: 40px;
}

.auth-container {
    height: 100vh;
    display: flex;
    gap: 50px;
}