@use './reset';
@use './variables' as *;
@forward './variables';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair Display+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: var(--font-primary);
}

.container {
    max-width: vw(1700);
    padding-left: vw(16);
    padding-right: vw(16);
    margin: auto;
    gap: vw(40);

    @include mobile {
        padding-left: vw-mobile(16);
        padding-right: vw-mobile(16);
        gap: vw-mobile(20);
    }
}

.auth-container {
    height: 100vh;
    display: flex;
    gap: vw(50);

    @include mobile {
        gap: vw-mobile(30);
    }
}

.ProseMirror {
    border-radius: vw(8);
    height: 100%;

    @include mobile {
        padding-block: vw-mobile(15);
        padding-left: vw-mobile(21);
        font-size: vw-mobile(18);
        line-height: vw-mobile(20);
        width: 92%;
        border-radius: vw-mobile(8);
    }

    @include desktop {
        width: 98%;
        padding-block: vw(24);
        padding-left: vw(30);
        font-size: vw(24);
        line-height: vw(32);

        &:focus {
            outline: none;
        }
    }
}

ul {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    list-style: disc;
}

ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    list-style: decimal;
}