:root{
    --color-primary: #466543;
    --color-primary-dark: #3b5338;
    --color-primary-light: #f0f5ed;

    --color-text: #222222;
    --color-text-secondary: #4B4B4B;

    --color-border:#CCCCCC;
    --color-border-light:#f3f3f3;
    --color-white:#FFFFFF;

    --font-primary:'DM Sans', sans-serif;
    --font-display:'Playfair Display', serif;

    
}