@use 'sass:math';
@use 'sass:meta';

:root {
    --color-primary: #466543;
    --color-primary-dark: #3b5338;
    --color-primary-light: #f0f5ed;

    --color-text: #222222;
    --color-text-secondary: #4B4B4B;

    --color-border: #CCCCCC;
    --color-border-light: #f3f3f3;
    --color-white: #FFFFFF;

    --font-primary: 'DM Sans', sans-serif;
    --font-display: 'Playfair Display', serif;
}

$design-width-desktop: 1920;
$design-width-mobile: 375;
$min-viewport: 320px;
$max-viewport: 1920px;

@function vw($px, $base: $design-width-desktop) {
    @return math.div($px, $base) * 100vw;
}

@function vw-mobile($px) {
    @return vw($px, $design-width-mobile);
}

@function rem($px) {
    @return math.div($px, 16) * 1rem;
}

@function ensure-px($value) {
    @if meta.type-of($value)=='number' and math.is-unitless($value) {
        @return $value * 1px;
    }

    @return $value;
}

@function fluid($min-px, $max-px, $min-vw: $min-viewport, $max-vw: $max-viewport) {
    $min-value: ensure-px($min-px);
    $max-value: ensure-px($max-px);
    $min-vw-value: ensure-px($min-vw);
    $max-vw-value: ensure-px($max-vw);

    @return clamp(#{$min-value}, calc(#{$min-value} + (#{$max-value} - #{$min-value}) * ((100vw - #{$min-vw-value}) / (#{$max-vw-value} - #{$min-vw-value}))), #{$max-value});
}

@function fluid-type($min-px, $max-px) {
    @return fluid($min-px, $max-px, 375px, 1920px);
}

@function fluid-space($min-px, $max-px) {
    @return fluid($min-px, $max-px, 375px, 1920px);
}

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;

@mixin mobile {
    @media screen and (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin large-desktop {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin font-vw($desktop-px, $mobile-px: null) {
    @include desktop {
        font-size: vw($desktop-px);
    }

    @if $mobile-px {
        @include mobile {
            font-size: vw-mobile($mobile-px);
        }
    }
}

@mixin font-fluid($min-px, $max-px) {
    font-size: fluid-type($min-px, $max-px);
}

@mixin size-vw($property, $desktop-px, $mobile-px: null) {
    @include desktop {
        #{$property}: vw($desktop-px);
    }

    @if $mobile-px {
        @include mobile {
            #{$property}: vw-mobile($mobile-px);
        }
    }
}

@mixin spacing-vw($property, $desktop-px, $mobile-px: null) {
    @include desktop {
        #{$property}: vw($desktop-px);
    }

    @if $mobile-px {
        @include mobile {
            #{$property}: vw-mobile($mobile-px);
        }
    }
}

@mixin dimensions-vw($desktop-w, $desktop-h, $mobile-w: null, $mobile-h: null) {
    @include desktop {
        width: vw($desktop-w);
        height: vw($desktop-h);
    }

    @if $mobile-w and $mobile-h {
        @include mobile {
            width: vw-mobile($mobile-w);
            height: vw-mobile($mobile-h);
        }
    }
}

@mixin radius-vw($desktop-px, $mobile-px: null) {
    @include desktop {
        border-radius: vw($desktop-px);
    }

    @if $mobile-px {
        @include mobile {
            border-radius: vw-mobile($mobile-px);
        }
    }
}

@mixin padding-vw($desktop-y, $desktop-x, $mobile-y: null, $mobile-x: null) {
    @include desktop {
        padding: vw($desktop-y) vw($desktop-x);
    }

    @if $mobile-y and $mobile-x {
        @include mobile {
            padding: vw-mobile($mobile-y) vw-mobile($mobile-x);
        }
    }
}

@mixin margin-vw($desktop-y, $desktop-x, $mobile-y: null, $mobile-x: null) {
    @include desktop {
        margin: vw($desktop-y) vw($desktop-x);
    }

    @if $mobile-y and $mobile-x {
        @include mobile {
            margin: vw-mobile($mobile-y) vw-mobile($mobile-x);
        }
    }
}

@mixin line-height-vw($desktop-px, $mobile-px: null) {
    @include desktop {
        line-height: vw($desktop-px);
    }

    @if $mobile-px {
        @include mobile {
            line-height: vw-mobile($mobile-px);
        }
    }
}

@mixin gap-vw($desktop-px, $mobile-px: null) {
    @include desktop {
        gap: vw($desktop-px);
    }

    @if $mobile-px {
        @include mobile {
            gap: vw-mobile($mobile-px);
        }
    }
}